body{
    background-color: rgb(23, 23, 23);
}
img{
    width: 900px; height: 600px; margin: 0px; padding: 0px;
    
}
p{
    color: whitesmoke; font-size: 50px;}
li{
    font-size: 30px; color: azure;
}