body{
    background-color: rgb(30, 30, 30);)
}
h1{
    font-size: 50px; color: rgb(128, 130, 132);
}
.line-div{
    display: inline-block;
}

img{
    width: 500px; height: 300px;
}
.img-div{
    
}
h2{
    color: rgb(121, 121, 121); font-size: 20px;
}
.i1:hover{
    /* transform: scale(1.5); */
    animation: image 3s;
    animation-fill-mode: forwards;
}
ul{
    list-style-type:none; text-align: left; 
    display: inline-block;
}
@keyframes image {
    0%   {transform: scale(1);  } 
    100%  {transform: scale(1.25); }
}
.start{
    font-size: 15px; 
}